/* fonts */
@font-face {
  font-family: NixieOne;
  src: url('NixieOne-Regular.ttf');
}

@font-face {
  font-family: Raleway;
  src: url('Raleway-VariableFont_wght.ttf');
}

/* overriding UIKit styles */
html {
  font-size: 20px;
}

html * {
  font-family: Raleway;
  font-weight: 100;
}

.uk-navbar-nav>li>a {
  text-transform: none;
  font-size: 1rem;
}

/* custom styles */
.gan-height-viewpoint {
  min-height: 100vh;
  min-height: -webkit-fill-available; /* fix for scrolling in iPhone safari */
}

.gan-logo * {
  font-family: NixieOne !important;
}

.gan-light .highlight {
  color: #F73A3D;
  background: -webkit-linear-gradient(135deg, #ff6a00, #ee0979);
}

.gan-dark .highlight {
  color: #1D717E;
  background: -webkit-linear-gradient(135deg, #267871, #136a8a);
}

.highlight {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  display: inline-block; /* required for titles that span multiple lines */
}
